

<% for(var i = 0; i < menu.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= menu[i].item %></td>
    <td><%= menu[i].price %></td>
    <td><%= menu[i].vegan %></td>
    <td>
       <a href="/update-item?id=<%= menu[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= menu[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>

 